body {
  background-color: #F5F5F5;
}

.round-avatar {
  border-radius: 50%;
}

.intro-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.banner-avatar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  color: #546A7B;
  font-size: 150%;
  padding: .5rem 1.5rem;
}

a:hover {
  color: #A57982;
}

.navbar {
  background-color: rgba(204, 219, 220, .95);
}